<mat-spinner *ngIf="loading"></mat-spinner>
<div *ngIf="!loading" class="col-sm-6 offset-sm-3 mt-2">
  <form [formGroup]="thingForm">
    <div class="form-group">
      <label for="title">Titre</label>
      <input type="text" placeholder="Titre du film!" id="title" formControlName="title" class="form-control">
    </div>

    <div class="form-group">
      <label for="synopsis">Synopsis</label>
      <textarea name="synopsis"
                id="synopsis"
                cols="30" rows="7"
                class="form-control"
                formControlName="synopsis"
                placeholder="Donnez le synopsis du film"></textarea>
    </div>

    <div class="form-group">
      <label for="acteurs">Acteurs</label>
      <textarea name="acteurs"
                id="acteurs"
                cols="30" rows="7"
                class="form-control"
                formControlName="acteurs"
                placeholder="Les acteurs du film !"></textarea>
    </div>
    <div class="form-group">
      <label for="imageUrl">URL de l'image</label>
      <input type="text" placeholder="http://..." id="imageUrl" formControlName="imageUrl" class="form-control">
    </div>
    
    <button class="btn btn-primary" (click)="onSubmit()" [disabled]="thingForm.invalid">Valider</button>
    <p class="alert-danger" *ngIf="errorMessage">{{ errorMessage }}</p>
  </form>
</div>
